<plugin name='commentable' version='1.0.BUILD-SNAPSHOT' grailsVersion='1.1 &gt; *'>
  <author>Graeme Rocher</author>
  <authorEmail>graeme.rocher@springsource.com</authorEmail>
  <title>Commentable Plugin</title>
  <description>Adds support for comments. Mark up any of your domain classes as having comments and then use the tag library and partial templates to integrate comments into your views.</description>
  <documentation>http://grails.org/Commentable+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.comments.CommentableController</resource>
    <resource>org.grails.comments.Comment</resource>
    <resource>org.grails.comments.CommentLink</resource>
    <resource>org.grails.comments.CommentsTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>